body {
    background-color: #f5ece2;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
    color: #333;
    background-color: #cebbac;
    padding: 10px;
    text-align: center;
    border: 1px solid #998670;
    border-radius: 5px;
}

h2, h3 {
    font-family: sans-serif;
}

.subtitle {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 25px;
    padding: 2%;
}

.divider {
    border: 1px solid #acacac; 
    margin: 5% 0;
}


.linegraph-div {
    padding: 5px;
    text-align: center;
}

.stackedbarchart-div {
    padding: 5px;
    text-align: center;
}

.choroplethmap-div {
    padding: 5px;
    text-align: center;
}